autoawq==0.1.8
datasets==4.8.4
decord==0.6.0
deepspeed==0.16.5
einops==0.8.2
transformers==4.57.1
ffmpeg-python==0.2.0
moviepy==1.0.3
multiprocess==0.70.16
numpy==2.2.6
openai==2.30.0
opencv-python==4.11.0.86
peft==0.14.0
qwen-vl-utils==0.0.14
streamlit==1.56.0
tokenizers==0.22.2
torch==2.8.0
torchaudio==2.8.0
torchdata==0.11.0
torchvision==0.23.0
triton==3.4.0
vllm==0.11.0
# flash_attn==2.7.4.post1
pytorchvideo
FlagEmbedding
